.text-highlight {
    color: #e4c853; /* Color deseado para resaltar */
  }

.slider {
  width: 100%;
  position: relative;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.slider img{
  width: 100%;
  left: 0;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: center;
}